@import 'tailwindcss';

@theme {
  --color-primary: #637be6;
  --color-secondary: #fadf5a;
  --color-main-dark: #282626;
  --color-background: #fbf7f7;
  --color-main-gray: #cbcbcb;
  --color-dashboard-subject: #fffeb3;
  --color-error: #f44336;
  --font-nunito: 'Nunito', sans-serif;
}

@layer base {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:focus:-webkit-autofill {
    border-color: white !important;
    box-shadow: none !important;
    outline: none !important;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    appearance: none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-main-dark);
    font-family: var(--font-nunito);
    outline: none;
  }

  h1 {
    @apply text-center text-3xl md:text-4xl lg:text-5xl font-bold leading-tight;
  }

  h2 {
    @apply text-center text-2xl md:text-3xl lg:text-4xl leading-tight;
  }

  h3 {
    @apply font-bold text-xl;
  }

  h4 {
    @apply text-lg font-normal;
  }

  p {
    @apply text-xl;
  }

  section {
    @apply scroll-mt-[90px];
  }

  input {
    @apply focus:outline-none;
  }
}

@layer components {
  .primary-button {
    @apply bg-primary text-white shadow-[4px_4px_0_0_var(--color-secondary)]
           hover:text-main-dark hover:bg-secondary hover:shadow-[4px_4px_0_0_var(--color-primary)] cursor-pointer
           border border-transparent hover:border-primary;
  }

  .secondary-button {
    @apply bg-secondary text-main-dark min-h-[72px]
           hover:bg-white hover:shadow-[4px_4px_0_0_var(--color-main-dark)] cursor-pointer
           border border-transparent hover:border-main-dark;
  }

  .form-block {
    @apply bg-primary text-white flex flex-col items-center justify-between gap-5 lg:gap-10 p-10 rounded-3xl;
  }

  .form-alert {
    @apply text-white px-4 ring-[1.5px] ring-error rounded-md;
  }

  .form-input {
    @apply border-2 border-white rounded-xl px-6 py-4 w-full min-h-[72px] text-xl outline-0;
  }

  .form-radio {
    @apply cursor-pointer w-5 h-5 rounded-full appearance-none border-2 border-gray-300 checked:border-white checked:bg-blue-500;
    flex-shrink: 0;
  }

  .form-label {
    @apply z-10 absolute top-0 left-3 -translate-y-1/2 bg-primary text-white px-1 flex items-center gap-1;
  }

  .form-checkbox-block {
    @apply rounded-xl py-4 w-full text-xl;
  }

  .form-checkbox {
    @apply cursor-pointer w-5 h-5 rounded-full appearance-none border-2 border-white;
    transition: all 0.2s ease;
    flex-shrink: 0;
  }
  .form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-select {
    @apply relative w-full;
  }

  .form-select select {
    @apply border-2 border-white rounded-xl px-6 py-4 w-full min-h-[72px] text-xl pr-10 appearance-none outline-0 cursor-pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px 10px;
  }

  .form-select select[multiple] {
    @apply h-auto bg-none;
    background-image: none;
  }

  .form-select select option {
    @apply bg-primary text-white;
  }

  .form-select select option:checked {
    @apply bg-secondary text-main-dark;
  }

  .link {
    @apply outline-0 underline underline-offset-4 text-primary hover:text-blue-700 cursor-pointer;
  }

  .dashboard-subject {
    @apply bg-dashboard-subject px-3 py-1.5 rounded-sm text-center;
  }

  .dashboard-input {
    @apply py-2 border-b border-gray-400;
  }
}

@layer utilities {
  .section-container {
    @apply max-w-[1440px] container mx-auto py-15 px-5;
  }

  .card-container {
    @apply bg-white shadow-md rounded-3xl flex flex-col;
  }

  .container-fluid {
    @apply py-12;
  }

  .dashboard-container {
    @apply max-w-[1440px] container mx-auto p-5 md:p-10;
  }

  .dashboard-block {
    @apply bg-white rounded-sm shadow-md/3;
  }

  /* needs for distance between section and header */
  .margin-top {
    @apply mt-[100px] lg:mt-[150px];
  }

  .profile-modal {
    @apply bg-white shadow-md rounded-3xl flex flex-col;
  }

  .dashboard-modal {
    @apply bg-white shadow-sm rounded-sm w-[90%] md:w-1/2 p-10;
  }
}
